<div class="flex mt-10 justify-between mx-10">
    <h1 class="text-3xl font-bold ">
        Explore o mercado
    </h1>
    <div >
        <span class="text-(--button-text-secondary) me-2">Ordenar:</span>
        <button (click)="change('rising')"
                [ngClass]="
                {
                    'bg-cyan-600': selectedFilter == 'rising' ,
                    'text-cyan-100':selectedFilter == 'rising' ,
                    'bg-(--button-secondary)' :selectedFilter == 'falling' || !selectedFilter,
                    'text-(--button-text-secondary)':selectedFilter == 'falling' || !selectedFilter
                }"
                class="hover:bg-cyan-600 hover:text-cyan-100 font-bold py-2 px-4 rounded-full me-4">
            Em alta
        </button>
        <button (click)="change('falling')"
        [ngClass]="
                {
                    'bg-cyan-600': selectedFilter == 'falling',
                    'text-cyan-100':selectedFilter == 'falling',
                    'bg-(--button-secondary)' :selectedFilter == 'rising' || !selectedFilter,
                    'text-(--button-text-secondary)':selectedFilter == 'rising' || !selectedFilter
                }"
                class="  hover:bg-cyan-600 hover:text-cyan-100 font-bold py-2 px-4 rounded-full">
            Em Baixa
        </button>
    </div>
</div>