<div class="flex mt-10 justify-between mx-10">
    <h1 class="text-3xl font-bold ">
        Explore o mercado
    </h1>
    <div class="grid grid-cols-3 gap-1">
        <span>Ordenar:</span>
        <button class="bg-(--button-primary) hover:bg-blue-700 text-(--button-text-primary) font-bold py-2 px-4 rounded-full">
            Em alta
        </button>
        <button class="bg-(--button-secondary) text-(--button-text-secondary)  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            Em Baixa
        </button>
    </div>
</div>