@use "tailwindcss";

@theme{
    --font-display:  Roboto, "Helvetica Neue", sans-serif;;
    --primary: #091827;
    --button-primary:#00add2;
    --button-text-primary:#c8edf5;
    --button-secondary:#ecedee;
    --button-text-secondary:#a0a6ac;
}

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #111f2e;}
