<app-navbar></app-navbar>
<div class="body">
    <div class="header">
        <h1>Explore o mercado</h1>  
        <div class="filters">
            <span class="filter">Ordenar: </span>
            <button mat-flat-button class="active">Em Alta</button>
            <button mat-flat-button disabled>Em Baixa</button>
        </div>
    </div>

    <mat-grid-list cols="4" rowHeight="400px">
        @for(quotes of quotesArray; track quotes.name){
            <mat-grid-tile [colspan]="1"
            [rowspan]="1">
                <mat-card appearance="outlined">
                    <mat-card-content>
                        imagem
                        <div class="d-flex">
                            nome
                            {{quotes.name}}
                        </div>
                        PREÇO DO ATIVO
                        
                        {{quotes.value[quotes.value.length-1].value}}
                </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        }
        
         
          
    </mat-grid-list>
</div>


